잡 리스트 보여주는 페이지
<ul>
    {% for target in job_list %}
    <h2>{{target.id}}</h2>
        <li> {{target.s_word}}</li>
        <li> {{target.media}}</li>
        <li> {{target.active_status}}</li>
        <li> {{target.executed_date}}</li>
        <li> {{target.complited_date}}</li>
        <li> {{target.t_st_date}}</li>
        <li> {{target.t_end_date}}</li>
        <a href="{% url 'jobs:del' target.id %}">Delete</a>
        <a href="{% url 'jobs:update' target.id %}">Edit</a>
    {% endfor %}
    
    </ul>