{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div style="margin:auto;" class="col-lg-11">
        <div class="overview-wrap">
            <h2 class="title-1">Target Lists</h2>
        <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'jobs:targetadd' %}">
                <i class="zmdi zmdi-plus"></i>add item</a>
        </div>
        <hr>
        <div class="table-responsive table--no-card m-b-30">
            <table style="table-layout:fixed;" class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th style="width: 5%;">ID</th>
                        <th>Media</th>
                        <th>URL</th>
                        <th>Column</th>
                        <th style="width: 10%;">Delete</th>
                        <th style="width: 10%;">Edit</th>
                    </tr>
                </thead>

                <tbody>

                    {% for target in target_list %}
                    <tr>
                        <td style="width: 5%; overflow: hidden; text-overflow: ellipsis;">{{ forloop.counter }}</td>
                        <td style="overflow: hidden; text-overflow: ellipsis;"> {{target.media}}</td>
                        <td style="overflow: hidden; text-overflow: ellipsis;"> {{target.crawling_url}}</td>
                        <td style="overflow: hidden; text-overflow: ellipsis;"> {{target.input_col}}</td>
                        <td><a href="{% url 'jobs:tdel' target.id %}">Delete</a></td>
                        <td><a href="{% url 'jobs:tupdate' target.id %}">Edit</a></td>
                    </tr>    
                    {% endfor %}
                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}