{% load static %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="{% url 'jobs:overview' %}">
            <img src="{% static 'images/icon/logo.png' %}" alt="PentaSystem" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{% url 'jobs:overview' %}">Overview</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'jobs:chart' %}">
                        <i class="fas fa-chart-bar"></i>Charts</a>
                </li>
                <li>
                    <a href="{% url 'jobs:joblist' %}">
                        <i class="far fa-check-square"></i>Jobs</a>
                        <!-- <i class="fas fa-table"></i>Jobs</a> -->
                </li>
                {% if request.user.is_admin %}
                <li>
                    <a href="{% url 'jobs:targetlist' %}">
                        <i class="fas fa-copy"></i>Targets</a>
                </li>
                {% endif %}
                <!-- <li>
                    <a href="calendar.html">
                        <i class="fas fa-calendar-alt"></i>Calendar</a>
                </li> -->
                <!-- <li>
                    <a href="map.html">
                        <i class="fas fa-map-marker-alt"></i>Maps</a>
                </li> -->
                <!-- <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="login.html">Login</a>
                        </li>
                        <li>
                            <a href="register.html">Register</a>
                        </li>
                        <li>
                            <a href="forget-pass.html">Forget Password</a>
                        </li>
                    </ul>
                </li> -->
                <script>
                    function page_move(url){
                        var form = document.createElement("form");
                        var param = new Array();
                        var input = new Array();

                        form.action = url;
                        form.method = "get";

                        param.push(['username','default-quickstart-kibana-user']);
                        param.push(['password','d7gf4g4fgpz7lqzgxj6r7f66']);

                        for(var i=0; i<param.length; i++){
                            input[i]=document.createElement("input");
                            input[i].setAttribute("type","hidden");
                            input[i].setAttribute("name",param[i][0]);
                            input[i].setAttribute("value",param[i][1]);
                            form.appendChild(input[i]);
                        }
                        document.body.appendChild(form);
                        form.submit();
                    }
                </script>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-desktop"></i>Monitoring</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="http://192.168.100.170:55601/app/kibana" target="_blank"><img src="{% static 'images/icon/kibana.png' %}" alt=""> Kibana</a>
                        </li>
                        <li>
                            <a href="http://192.168.100.170:53000" target="_blank"><img src="{% static 'images/icon/grapana.png' %}" alt=""> Grapana</a>
                        </li>
                        

                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->